<div class="row center col s12">
    <h2><i class="large material-icons teal-text">autorenew</i></h2>
    <h4>Automatizado</h4>
    <h6 class="light">Todo el proceso de recolección y procesado de datos se hace automaticamente.</h6>
</div>
<div class="row center col s12">
    <img class="responsive-img" src="/images/cycle_diagram.png">
</div>