<div class="row col s12 center">
    <h2 class="light-teal-text"><i class="large material-icons teal-text">edit</i></h2>
    <h4>Diverso</h4>
    <h6 class="light">Amplio catálogo de ejercicios para adaptarse a la patología concreta de cada paciente.</h6>
</div>
<div class="row">
    each exercise in exercises
        <div class="col s12 m6 l4 xl4">
            include ../partials/exercise
            +exercise(exercise)
        </div>
</div>