[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
python-socketio = {extras = ["asyncio_client"],version = "*"}
eventlet = "*"
aiohttp = {extras = ["speedups"],version = "*"}
flask = "*"
fastapi = {extras = ["all"],version = "*"}

[requires]
python_version = "3.7"
