extends layout.pug

block content
    <div class="container">
        <h2 class="header center orange-text">Dispositivos</h2>
        <div class="row">
        each device in devices
            <div class="col s12 m4">
                <div class="card hoverable">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img src="quest.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title center">#{device.account}<a href="#"></a></span>
                    </div>
                </div>

                <div class="input-field col s12">
                    <i class="material-icons prefix">account_circle</i>
                    <select>
                        <option value="" disabled selected>Selecciona un usuario</option>
                        <option value="1">Angel Rodriguez</option>
                        <option value="2">Jose Neuropsicólogo</option>
                        <option value="3">Raul Sanchez</option>
                    </select>
                    <label>Usuario</label>
                </div>

                <form id="exercise_form" action="", method="POST">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">mode_edit</i>
                        <select form="exercise_form" name="exercise">
                            <option value="null" disabled selected>Selecciona un ejercicio</option>
                            <option value="cubos">Cubos</option>
                            <option value="matcher">Matcher</option>
                            <option value="heladeria">Heladeria</option>
                        </select>
                        <label>Ejercicio</label>
                    </div>
                    <div class="col s12 center-align">
                        <button class="btn center-align" type="submit">Cargar ejercicio
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>