extends dashboard.pug

block dashboard-content
    <div id="patients-card" class="card">
        <div id="patients-card-content" class="card-content">
            <div class="card-title center">Pacientes</div>
            <div class="row">
            each patient_data in patients
                <div class="col s12 m6 l4 xl3">
                    include ../components/patient
                    +patient(patient_data)
                </div>
            </div>
        </div>
    </div>