extends ../layout.pug

block content

    include ../components/panel
    
    <main>
        <nav class="topbar">
            <div class="nav-wrapper teal">
                <a href="#" data-target="dashboard-panel" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <div class="brand-logo center">AgreLink</div>
            </div>
        </nav>

        <div id="dashboard-content">
            block dashboard-content
        </div>
    </main>

    