extends dashboard.pug

block dashboard-content
    <div id="devices-card" class="card">
        <div id="devices-card-content" class="card-content">
            <div class="card-title center">Dispositivos</div>
            <div class="row">
            each device_data in devices
                <div class="col s12 m6 l6 xl4">
                    include ../components/device
                    +device(device_data, patients, exercises)
                </div>
            </div>
        </div>
    </div>