extends dashboard.pug

block dashboard-content
    <div id="exercises-card" class="card">
        <div id="exercises-card-content" class="card-content">
            <div class="card-title center">Ejercicios</div>
            <div class="row">
            each exercise in exercises
                <div class="col s12 m6 l4 xl3">
                    include ../partials/exercise
                    +exercise(exercise)
                </div>
            </div>
        </div>
    </div>