extends dashboard.pug

block dashboard-content
    <div id="home-card" class="card">
        <div id="home-card-content" class="card-content">
            <div class="card-title center">¡Bienvenido, #{user.username}!</div>
        </div>
    </div>