extends layout.pug

block content

  <div class="container">
    <!--  Banner Section   -->
    <div class="section" id="banner-section">
      include sections/banner
    </div>

    <!-- Automated Section -->
    <div class="section" id="automated-section">
      include sections/automated
    </div>

    <!-- Exercises Section -->
    <div class="section" id="exercises-section">
      include sections/exercises_sample
    </div>

    <!-- Exercise Personalization Section -->
    <div class="section" id="personalization-section">
      include sections/personalization
      +personalization(exercises[3])
    </div>

      <!-- Engines Section -->
    <div class="section" id="engines-section">
      include sections/flexible
    </div>
  </div>