extends layout.pug

block content

  <!--  Banner Section   -->
  <div class="section" id="banner-section">
    include sections/banner
  </div>

  <!-- Automated Section -->
  <div class="section" id="automated-section">
    include sections/automated
  </div>

  <!-- Exercises Section -->
  <div class="section" id="exercises-section">
    <div class="container">
      include sections/exercises_sample
    </div>
  </div>

  <!-- Exercise Personalization Section -->
  <div class="section" id="personalization-section">
    <div class="container">
      include sections/personalization
      +personalization(exercises[3])
    </div>
  </div>

    <!-- Engines Section -->
  <div class="section" id="engines-section">
    <div class="container">
      include sections/flexible
    </div>
  </div>