extends layout.pug

block content

    include components/header

    <div id="login-page" class="row container">
        <h2 class="header center orange-text">Ingresar</h2>
        <hr color="#ffdab9"/>
        <div style="margin-top: 15mm;" class="row center">
            <a class="red accent-2 waves-effect waves-light btn-large" href="/login/google"><i class="fab fa-google left"></i>Ingresar con Google</a>
        </div>
    </div>