extends layout.pug

block content
    <div id="register-page" class="row container">
        <h2 class="header center orange-text">Registro</h2>
        <div class="valign-center">
            <div class="col s12 l6 xl6 push-l3 push-xl3 card-panel">
                <form class="login-form" action="register" method="post">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">account_circle</i>
                        <input name="username" id="username" type="text">
                        <label for="username">Usuario</label>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">mail_outline</i>
                        <input class="validate" id="email" name="email" type="email">
                        <label for="email" data-error="wrong" data-success="right">Email</label>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">lock_outline</i>
                        <input name="password" id="password" type="password">
                        <label for="password">Contraseña</label>
                    </div>
                    <div class="input-field center col s12">
                        <input type="submit" value="Registrarse" class="btn">
                    </div>
                </form>
            </div>
        </div>
    </div>