mixin parameters(exercise, profile)
    <table>
        <thead>
            <tr>
                <th>Parámetro</th>
                <th>Descripción</th>
                <th>Valor</th>
            </tr>
        </thead>
        <tbody>
        each data, param in exercise.parameters
            <tr>
                <td>#{data.name}</td>
                <td>#{data.description}</td>
                <td>#{exercise.profiles[profile][param]}</td>
            </tr>
        </tbody>
    </table>