mixin device(device, patients, exercises)
    <div class="card">
        <div class="card-image">
            <img src="/images/devices/quest.png">
        </div>
        <div class="card-content">
            <span class="card-title center">#{device.account}<a href="#"></a></span>
            if device.exercise
                <div class="section">
                    <div class="progress">
                        <div class="indeterminate"></div>
                    </div>
                </div>
            else
                include ../components/device_form
        </div>
    </div>