<nav class="light-blue lighten-1">
    <div class="nav-wrapper container">
        <a href="/" class="brand-logo center"><i class="material-icons">cloud</i>Inicio</a>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
        <li><a href="/login"><i class="material-icons left">account_circle</i>Ingresar</a></li>
        <li><a href="/register"><i class="material-icons left">person_add</i>Registro</a></li>
        </ul>
            <ul id="nav-mobile" class="sidenav">
            <li><a class="subheader">Acceso</a></li>
            <li><a href="/login"><i class="material-icons left">account_circle</i>Ingresar</a></li>
            <li><a href="/register"><i class="material-icons left">person_add</i>Registro</a></li>
        </ul>
    </div>
</nav>