<div class="row col s12 center">
    <h2 class="center light-brown-text"><i class="large material-icons teal-text">code</i></h2>
    <h4 class="center">Flexible</h4>
    <h6 class="light center">Toda la funcionalidad puede ser creada en el motor gráfico que se quiera. Sin restricciones.</h6>
</div>
<div class="container">
    <div class="row">
        <div class="col s12 m6 l6 xl6">
            <div class="card sticky-action hoverable">
            <div class="card-image">
                <img src="/images/engines/unreal.png">
            </div>
            <div class="card-content">
                <span class="card-title">Unreal Engine<i class="material-icons light-green-text right">android</i><i class="material-icons right">desktop_windows</i></span>
            </div>
            <div class="card-action">
                <a href="#">Descargar Cliente</a>
            </div>
            </div>
        </div>
        <div class="col s12 m6 l6 xl6">
            <div class="card sticky-action hoverable">
            <div class="card-image">
                <img src="images/engines/unity.png">
            </div>
            <div class="card-content">
                <span class="card-title">Unity<i class="material-icons light-green-text right">android</i><i class="material-icons right">desktop_windows</i></span>
            </div>
            <div class="card-action">
                <a href="#">Descargar Cliente</a>
            </div>
        </div>
    </div>
</div>